a{
    text-decoration:  none;
    color: gray;

}

a:hover, a:active{
    color: lightgray;
}

.navigation-items{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

mat-toolbar{
    border-radius: 1px;
}

li{
    display: inline;
   
    overflow: hidden;
}

@media(max-width: 959px) {
    mat-toolbar {
        border-radius: 0px;
    }
}
