a{
    text-decoration:  none;
    color: gray;

}
.SPA{
    
    scroll-snap-type: mandatory;
    scroll-snap-type: y mandatory;
    overflow: hidden;
    overflow-y: scroll;
}
button{
    outline: none !important;
    

}

::ng-deep .mat-icon-button-overlay {
    display: none !important;
}
button:focus{
    outline: none  !important;
    background: transparent !important;
}
a:hover{
    color: lightgray;
}


.navigation-items{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

mat-toolbar{
    border-radius: 1px;
    position: fixed;
}

/* li{
    display: inline;
   
    overflow: hidden;
} */


.landing-section, .resume-section, .project-section, .contact-section{
    
    height: 100vh;

}


@media(max-width: 959px) {
    mat-toolbar {
        border-radius: 0px;
    }
}
