
<!-- <div id="fullpage">
    <div class="section landing-section"><router-outlet></router-outlet></div>
    <div class="section resume-section"> <router-outlet></router-outlet></div>
    <div class="section project-section"><router-outlet></router-outlet></div>
    <div class="section contact-section"><router-outlet></router-outlet></div>
   
</div> -->
<!-- 
<div id="fullpage" class="scroll">
    <div class="section landing-section"><app-landing></app-landing></div>
    <div class="section resume-section"> <app-resume></app-resume></div>
    <div class="section project-section"><app-projects></app-projects></div>
    <div class="section contact-section"><app-contact></app-contact></div>

   
</div>


<script>
    new fullpage('#fullpage', {
       //options here
       autoScrolling:true,
       scrollHorizontally: true
   });
   </script>
   -->
   
  <div class="scrollS">
   <section id="home" class="landing-section">
    <app-landing></app-landing>
 </section>
 <section id="resume" class="resume-section">
     <app-resume></app-resume>
 </section>
 <section id="project" class="project-section">
     <app-projects></app-projects>
 </section>
 <section id="contact" class="contact-section">
     <app-contact></app-contact>
 </section>
 </div>

