.section, .p{

   box-sizing: border-box;
  
 
}
/* #fullpage{
    margin-top: 60px;
} */
/* .landing-section{
    height: 100vh;
    
} */
.resume-section{
    height: 100vh;
}
.project-section{
    height: 100vh;
 
}
.contact-section{
    height: 100vh;
}
.landing-section, .resume-section, .project-section, .contact-section
{
    scroll-snap-align:start  !important;
    scroll-behavior: smooth;
    scroll-snap-stop: always !important;
}

/* 
section{
   
    align-items: center;
    justify-content: center;
   
} */

  html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;
    background: transparent;
    display: none;
  }

  .scrollS{
    scroll-snap-type: y mandatory !important;
  }