<!-- <app-root></app-root> -->
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap" rel="stylesheet">



<!-- <div class="intro ">
    <h1 class="greet animate__animated animate__flipInX">
        Hello I am
         <br>   <br>     
    </h1>
    </div>
    <br>
    <div class="namee">
        <h1  class="name animate__animated animate__bounceInUp animate__slow animate__delay-0.9s">
            Shubham Prakash
            </h1>
                </div> -->
                <p>Home Works</p>
