
.landing-page{
    /* margin-top: 60px; */
    // height: 100vh;
    // width: 100vw;
    // display: flex;
    // flex-grow: none;
     overflow: hidden;
     overflow-y: hidden;
     background-color: whitesmoke;
    // align-items: center;
    // /* justify-content: center; */
    // background-color: rgb(248, 89, 89);
    // position: relative;
    position: relative;
    // margin-top:60px ;
    // padding-top: 0px;
    
    
    z-index: 0;
}
#particles-js {
  // padding-top: 60px;
  // height: calc(  (1vh * 100) );
  height: calc(var(--vh, 1vh) * 100);
   z-index: 0;
  // height: 100vh;
  width: 100vw;
  background-color: whitesmoke;
}

.intro{
  position: absolute;

    left: 0;
   
    margin-top: -200px;
  
}

// .hi{
//   display: flex;
//   flex: 1;
//   width: 200px;
//   height: 120px;
// }


.hi-greet{
    // padding-left: 5px;
    font-size: 50px;
    font-family: 'Josefin Sans', sans-serif;
    background-color: rgba(245, 222, 179, 0.205);
}
.name-greet{
    // padding-top: 40px;
    margin-top:60px;
    font-size: 55px;
    font-family: 'Josefin Sans', sans-serif;
    background: rgba(60, 198, 252, 0.068);
    height: 35px;
    // z-index: -1;

   
}
.hi-greet, .name-greet{
  position: absolute;
  top: 250px;
  margin-left: 15x;
  padding-left: 10px;
  opacity: 1 !important;
  
}



.bio{
  display: flex;
 flex-direction: column;
  position:absolute;
  top: 400px;
  margin-left: 15x;
  padding-left: 15px;
  // font-family: 'Sa', sans-serif;
  justify-content: space-around;
  .fsd,.photo{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
  font-weight: normal;
  }
  .fsd{
    background-color: rgba(174, 236, 236, 0.233);
  }
  .photo{
    background-color: rgba(64, 147, 224, 0.075);
  }
  .ribbion1{
    position: absoulte;
    top: 400px;
  margin-left: 15x;
  padding-left: 15px;
    width: 60px;
    height: 10px;
    background-color: rgb(62, 182, 6);
  }

}
.about-me-intro{
  position: absolute;
  top:  350px;
  margin-left: 15x;
  padding-left: 10px;
  opacity: 1 !important;
  color: black;
  display: none;

}
.scroll-text{
 
  
  font-family: 'Quattrocento Sans', sans-serif;


}
.scroll{
  position: absolute;
  float: right;
  height: 20px;
  bottom: 30px;
  right: 50%;
  left: 50%;
  margin-bottom: 10px;
  
  a{
    text-decoration: none;
   }
 


}
@media(hover: hover) and (pointer: fine) {
 .scroll-text:hover{
  font-size: 20px;
}
}



@media(hover: hover) and (pointer: fine) {

  .name-greet:hover{
    font-size: 60px;
    background-color: rgba(255, 0, 0, 0.13);
  }
 
}


.scroll-text{
  top: 90px;
  right: 10px;
  color: black;
}



// @media(orientation:landscape)
// {
// //   .hi-greet{
// //     font-size: 40px;
// // }
// // .name-greet{
// //     font-size: 45px;
// // }
// // .scroll{
// //   position: absolute;
// //   float: right;
// //   height: 20px;
// //   // bottom: 0;
// //   // right: 0;
// //   // margin-bottom: 70px;
// //   // padding-bottom: 10px;
// //   // margin-right: 15px;
// //   bottom: 30px;
// // right: 50%;
// // left: 50%;
// // margin-bottom: 50px;
// //   a{
// //     text-decoration: none;
// //   }

// // }
// // #particles-js {
// //   // padding-top: 60px;
// //   height: calc(  (1vh * 100) );
  
// //   // height: 100vh;
// //   width: 100vw;
// //   background-color: whitesmoke;
// // }
  
// // }

// @media only screen and (max-width: 600px) {
   
//     .hi-greet{
//         font-size: 40px;
//     }
//     .name-greet{
//         font-size: 45px;
//     }
//     .scroll{
//       position: absolute;
//       float: right;
//       height: 20px;
//       // bottom: 0;
//       // right: 0;
//       // margin-bottom: 70px;
//       // padding-bottom: 10px;
//       // margin-right: 15px;
//       bottom: 30px;
//   right: 50%;
//   left: 50%;
//   margin-bottom: 50px;
//       a{
//         text-decoration: none;
//       }
    
//     }
//     #particles-js {
//       // padding-top: 60px;
//       height: calc(  (1vh * 100) );
      
//       // height: 100vh;
//       width: 100vw;
//       background-color: whitesmoke;
//     }

// }

//   @media only screen and (max-width: 373px) {
   
//     .hi-greet{
//         font-size: 30px;
        
//     }
//     .name-greet{
//         font-size: 35px;
//     }
//     .scroll{
//       position: absolute;
//       float: right;
//       height: 20px;
//       // bottom: 0;
//       // right: 0;
//       // margin-bottom: 70px;
//       // padding-bottom: 10px;
//       // margin-right: 15px;
//       bottom: 30px;
//       right: 50%;
//       left: 50%;
//       margin-bottom: 50px;
//       a{
//         text-decoration: none;
//       }
    
//     }
//     #particles-js {
//       // padding-top: 60px;
//       height: calc(  (1vh * 100) );
      
//       // height: 100vh;
//       width: 100vw;
//       background-color: whitesmoke;
//     }
    
    
//   }
//   @media only screen and (max-width: 295px) {
   
//     .hi-greet{
//         font-size: 26px;
//     }
//     .name-greet{
//         font-size: 30px;
//     }
//     .scroll{
//       position: absolute;
//       float: right;
//       height: 20px;
//       // bottom: 0;
//       // right: 0;
//       // margin-bottom: 70px;
//       // padding-bottom: 10px;
//       // margin-right: 15px;
//       bottom: 30px;
//       right: 50%;
//       left: 50%;
//       margin-bottom: 50px;
//       a{
//         text-decoration: none;
//       }
    
//     }
//     #particles-js {
//       // padding-top: 60px;
//       height: calc(  (1vh * 100) );
      
//       // height: 100vh;
//       width: 100vw;
//       background-color: whitesmoke;
//     }
   
//   }
// }


  /* ------------------------- */

// @media(orientation:landscape)
// {
//   .hi-greet, .name-greet{
//     position: absolute;
//     top: 100px;
//     margin-left: 15x;
//     padding-left: 10px;
//     opacity: 1 !important;
    
//   }

//   .bio{
//     top: 250px;
//   }

//----------------------------media queries for mobile responsive --------------------------//

@media (max-width: 460px)
{
  .hi-greet{
  
    font-size: 40px;
  }
  .name-greet{
  
    font-size: 45px;
  }
}

@media (max-width: 380px)
{
  .hi-greet{
  
    font-size: 35px;
  }
  .name-greet{
  
    font-size: 40px;
  }


  .bio{
    top: 400px;
  }
}



//--------------landscape mode mobile -------------//

@media   (max-height: 393px){
  .hi-greet, .name-greet{
     top: 100px;
   }

   .bio{
    top: 250px;
   }
}


