.p{
    margin-top: 60px;
}

.landing-page{
    /* margin-top: 60px; */
    // height: 100vh;
    // width: 100vw;
    // display: flex;
    // flex-grow: none;
     overflow: hidden;
     background-color:whitesmoke;
    // align-items: center;
    // /* justify-content: center; */
    // background-color: rgb(248, 89, 89);
    z-index: -1;
    
   
    // position: relative;

}
#particles-js {
  
  height: 100vh;
  width: 100vw;

}
.intro{
  
    left: 0;
   
  //  margin-top: -200px;
    margin-top: -300px;
   padding-left: 15px;
  
}

.greet{
    // padding-left: 5px;
    font-size: 50px;
    font-family: 'Josefin Sans', sans-serif;
}
.name, .job{
    font-size: 55px;
    font-family: 'Josefin Sans', sans-serif;
    
}




@media only screen and (max-width: 600px) {
   
    .greet{
        font-size: 40px;
    }
    .name{
        font-size: 45px;
    }
  .landing-page{
      
      height: 100vh;
  }

}

  @media only screen and (max-width: 360px) {
   
    .greet{
        font-size: 30px;
    }
    .name{
        font-size: 35px;
    }
    .landing-page{
        height: 100vh;
    }
  }

  /* ------------------------- */

 