<!-- Fon Awesome Imports -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.3/particles.min.js" integrity="sha512-jq8sZI0I9Og0nnZ+CfJRnUzNSDKxr/5Bvha5bn7AHzTnRyxUfpUArMzfH++mwE/hb2efOo1gCAgI+1RMzf8F7g==" crossorigin="anonymous"></script>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Quattrocento+Sans&display=swap" rel="stylesheet">

<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/fontawesome.min.js" integrity="sha512-KCwrxBJebca0PPOaHELfqGtqkUlFUCuqCnmtydvBSTnJrBirJ55hRG5xcP4R9Rdx9Fz9IF3Yw6Rx40uhuAHR8Q==" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/svg-with-js.min.css" integrity="sha512-W3ZfgmZ5g1rCPFiCbOb+tn7g7sQWOQCB1AkDqrBG1Yp3iDjY9KYFh/k1AWxrt85LX5BRazEAuv+5DV2YZwghag==" crossorigin="anonymous" />
<link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
<!-- font Awesome Imports -->


    <div id="particles-js" class="landing-page"> 
        <div class="hi">
            <h1 class="hi-greet animate__animated animate__flipInX">
                Hello I am 
            </h1>
        
        <div class="my-name">
            <h1 class="name-greet animate__animated animate__bounceInUp animate__slow animate__delay-0.9s">
                Shubham Prakash
            </h1>
        </div>

        <div class="bio">
            <h1 class="fsd animate__animated animate__slideInLeft animate__slowanimate__fast animate__delay-2s">
                Full Stack Dev.
            </h1>
            <h1 class="photo animate__animated animate__slideInLeft animate__fast animate__delay-3s">
                hobby-grapher.
            </h1>
        </div>

    </div>
        <div class="scroll">
            <a href="#resume"> <h1 class="scroll-text animate__animated animate__bounce animate__slow animate__infinite	infinite animate__delay-6s">
                <i class="fa fa-angle-double-up"></i>
            </h1>
            </a>
        </div>

       
    


        
    