<mat-nav-list>
    <a mat-list-item   href="#home">
         <span class="nav-caption">Home </span>
        
    </a> 
    <!-- <a mat-item-list (click)="onSidenavClose()">
         <span class="CloseButton"> X </span>
    </a> -->

  
    <div class="upper"></div>
    <div class="toBottom">
         <a mat-list-item  href="#resume" (click)="onSidenavCloseR()">
         <span class="nav-caption">Resume</span>
    </a>
            <a mat-list-item   href="#project" (click)="onSidenavCloseP()">
        <span class="nav-caption">Projects</span>
    </a>
    
    <a mat-list-item   href="#contact" (click)="onSidenavCloseC()">
         <span class="nav-caption">Contact</span>
    </a>
 
    </div>
</mat-nav-list>
<!-- <router-outlet></router-outlet> -->

<!-- <div class="SPA">
     <section id="landing" class="landing-section">
        <app-landing></app-landing>
     </section>
     <section id="resume" class="resume-section">
         <app-resume></app-resume>
     </section>
     <section id="project" class="project-section">
         <app-projects></app-projects>
     </section>
     <section id="contact" class="contact-section">
         <app-contact></app-contact>
     </section>
   </div> -->
