a {

    text-decoration: none;
    color: lightgray;
    /* font-family: 'Acme', sans-serif; */
    font-family: 'Quattrocento Sans', sans-serif;
    font-weight: bold;

}
.nav-caption:focus{
    outline: none !important;
    background: transparent !important;
}

a:hover{
    /* color: rgb(112, 111, 111); */
    font-size: larger;
    /* background-color: rgb(107, 107, 107); */
    
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: large;
    font-weight: lighter;

}


.nav-caption {
    display: inline-block;
    padding-left: 5px ;
}
.upper{
    height: 80vh;
    width: 250px;
}
.toBottom {
    position: absolute;
    bottom:0;
    left: 0;
    
    width: 250px;
}
 .mat-nav-list, .toBottom, .upper{
    background-color:whitesmoke;
    opacity: 1;
}
